@font-face {
    font-family: 'comic_boysregular';
    src: url('fonts/ComicBoy/comicboys-webfont.woff2') format('woff2'),
         url('fonts/ComicBoy/comicboys-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------Change Font here*-------------------------------*/
* {
    font-family: comic_boysregular;
}
/*-------------------------------------------------------------------------------*/

/*-------------------------------------body--------------------------------------*/
body{
    background-image: url(Image/img_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
/*-------------------------------------------------------------------------------*/

/*-------------------------------------class-------------------------------------*/
.Topic{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.contact{
    color: rgba(40, 127, 241, 0.938);
    font-size: 60px;
}
/*-------------------------------------------------------------------------------*/

/*-------------------------------------id----------------------------------------*/
#profile{
    text-align: center;
}

#profilePicture{
    border-radius: 50%;
}

#firstParagraph{
    color: rgb(255, 56, 34);
    text-shadow: 2px 5px 0px salmon;
    font-size: 50px;
}

/*-------------------------------------------------------------------------------*/



/* 
    " * " is abount all web page
    " # " is abount only one paragaphe
    " @ " is .....
    " . " is abount class. you can use one class for many paragaph
    " body " is abount color and style abount website Ex. background
*/
